/* ul{
    margin: 0;
    padding: 0;
    list-style: none;
} */
/* h2,h3{
    color: #34495e;
} */

.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #F0ECF9;

}

.nav{
    color: blue;
}
.text0{
    color: blue;
    font-size: 35px;
}
.logo1{
    margin:0;
    margin-left: 30px;
    font-size:1.45em;
    color: #000;
}
/* .logo1 text1{
    color: black;
} */
.mainNav{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 10px;
    gap:30px;
    margin-right: 20px;
}